In [6]:
import pandas as pd

scientists = pd.read_csv('./data/scientists.csv')

In [8]:
names = scientists['Name']
print(names)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

In [9]:
names.to_pickle('./scientists_names_series.pickle')

In [12]:
scientists.to_pickle('./scientists_df.pickle')

In [10]:
scientist_names_from_pickle = pd.read_pickle('./output/scientists_names_series.pickle')

In [11]:
print(scientist_names_from_pickle)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

In [13]:
names.to_csv('./scientist_names_series.csv')

In [15]:
scientists.to_csv('./scientist_df.tsv', sep='\t')